################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CAD-LISP/FileContentIndex/2001ee68-9552-48b0-ba8c-b8e304e3e866.vsidx
/.vs/CAD-LISP/FileContentIndex/7eaa0d49-61f7-4e15-8d64-89faeeaa63cb.vsidx
/.vs/CAD-LISP/FileContentIndex/9c618fbe-d669-4464-83ee-828077a445f1.vsidx
/.vs/CAD-LISP/FileContentIndex/ad35450f-4089-4400-a0a6-b99799be11d2.vsidx
/.vs/CAD-LISP/FileContentIndex/d2c2c2ea-252f-4478-984c-7f32ffeb6904.vsidx
